<h1>Create basic my-satisfactory-calculator</h1>

@if (rawItems$ | async; as rawItems) {
    <h1>Raw items</h1>
    <ul>
        @for (item of rawItems; track item.name) {
            <li>{{ item.id }}: {{ item.name }} {{ item.type }}</li>
        }
    </ul>
}

<h2>Ores</h2>
@if (ores$ | async; as ores) {
    <ul>
        @for (ore of ores; track ore.name) {
            <li>{{ ore.id }}: {{ ore.name }}</li>
        }
    </ul>
}

<h2>Fluids</h2>
@if (fluids$ | async; as fluids) {
    <ul>
        @for (fluid of fluids; track fluid.name) {
            <li>{{ fluid.id }}: {{ fluid.name }}</li>
        }
    </ul>
}

<h2>Derived Materials</h2>
@if (derivedMaterials$ | async; as derivedMaterials) {
    <ul>
        @for (material of derivedMaterials; track material.name) {
            <li>{{ material.id }}: {{ material.name }}</li>
        }
    </ul>
}
